.iconos{
    height: 30px;
    width: 30px;
}
a{
    text-decoration: none;
}
.topheader{
    box-shadow: 0 2px 10px black;
}
.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    font-family: fantasy;
}
.fecha{
    font-family: fantasy;
    color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
}
footer{
    background-color: pink;
    box-shadow: 0 2px 10px black;
}

.downnav{
    display: inline;
    justify-content:center;
    padding: 10px;
}
.downmenu li{
    display: inline;
    margin: 7px;
}

.descargas{
    height: 30px;
    width: 85px;
}



@media (max-width:600px) {
    .boton{
        background-color: transparent;
        border-style: none;
    }
    .topmenu{
        display: none;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    .downmenu img{
        height: 15px;
        width: auto;
    }

    body{
        background-color: blueviolet;
    }
}

@media (min-width:600px) {

    .topmenu{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .topmenu li{
        padding: 0 15px;
    }
    .topmenu a{
        color: black;
        font-size: 15px;
        font-weight: 500;
        line-height: 50px;
        text-transform: uppercase;
        font-family: fantasy;
    }
    .boton{
        display: none;
    }

    .downnav{
        display: flex;
        justify-content:space-between;
        padding: 10px;
    }
    .downmenu li{
        display: inline;
        margin: 10px;
    }

    body{
        background-color: green;
    }


}