strong{
    font-weight: 600;
}

header{
    background-color: cadetblue;
}
footer{
    background-color: cadetblue;
}
#subs{
    color:darkgoldenrod;
}
body{
    background-color: snow;
}
.iconos{
    height: 30px;
    width: 30px;
}
a{
    text-decoration: none;
}
.topheader{
    box-shadow: 0 2px 10px black;
}
.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    font-family: fantasy;
}
.fecha{
    font-family: fantasy;
    color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
}
.fechapublic{
    color: gray;
}
h1{
    padding-top: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
main{
    padding: 5px 20px;
}

.conteiner{
    display: inline;
    justify-content: space-between;
    
}

main p{
    margin: 10px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.epigrafe{
    font-size: 12px;
    margin: 0px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid gray;
}
.content2 a img{
    border: 1px solid gray;
}
.content2 a div{
    color: black;
}

footer{
    box-shadow: 0 2px 10px black;
}

.downnav{
    display: inline;
    justify-content:center;
    padding: 10px;
}
.downmenu li{
    display: inline;
    margin: 7px;
}

.descargas{
    height: 30px;
    width: 85px;
}

.formu{
    margin: 15px;
    padding: 5px;
    background: cadetblue;
    border-radius: 4px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formu h4{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.campos{
    width: 75%;
    background: cadetblue;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}

.btnRegistro{
    width: 50%;
    background-color: darkgoldenrod;
    box-shadow: 0px 2px 10px black;
    font-family: Arial, Helvetica, sans-serif
}

@media (max-width:600px) {
    .cartel{
        display: none;
    }
    .banner{
        width: 100%;
        padding-top: 10px;
        border: 2px solid gray;
    }
    .boton{
        background-color: transparent;
        border-style: none;
    }
    .mainImg{
        width: 100%;
        border: 1px solid gray;
    }
    .masImg{
        height: 70px;
        width: 100px;
    }
    .topmenu{
        display: none;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    .downmenu img{
        height: 15px;
        width: auto;
    }

    .content2{
        display: flex;
        align-items:baseline;
        font-size: 10px;
        border-top: 1px solid gray;
    }
    .content2 a{
        padding: 5px 3px;
    }
    
    .masImg{
        width:100%;

    }

}

@media (min-width:600px) {

    .topmenu{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .topmenu li{
        padding: 0 15px;
    }
    .topmenu a{
        color: black;
        font-size: 15px;
        font-weight: 500;
        line-height: 50px;
        text-transform: uppercase;
        font-family: fantasy;
    }
    .boton{
        display: none;
    }

    .banner{
        display: none;
    }

    .conteiner{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    .content1{
        width: 20%;
    }
    .mainContent{
        width: 55%;
        padding: 10px;
        border: 1px dotted gray;
    }
    .content2{
        width: 20%;
    }
    .content2 a div{
        padding-bottom: 10px;
    }

    .mainImg{
        width: 100%;
        border: 1px solid gray;
    }
    .masImg{
        width: 100%;
    }
    .cartel{
        width: 100%;
        border: 2px solid gray;
    }

    .downnav{
        display: flex;
        justify-content:space-between;
        padding: 10px;
    }
    .downmenu li{
        display: inline;
        margin: 10px;
    }
    
    .formu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: center;
    }
      
    .formu h4 {
        grid-column: 1 / span 2;
        text-align: center;
    }
      
    .formu .btnRegistro {
        grid-column: 1 / span 2;
        justify-self: center;
        width: 30%;
    }
     
    .campos{
        width: 95%;
    }
}